<div>
    <p-checkbox name="enableResizableColumns" [value]="false" label="enable resizable columns"
                [(ngModel)]="enableResizableColumns"></p-checkbox>

    <p-fieldset legend="Show/Hide Columns" [toggleable]="true">
        <p-listbox [options]="headers" [(ngModel)]="selectedHeaders" [checkbox]="true" [multiple]="true" [filter]="true"
                   optionLabel="label">
            <ng-template let-header pTemplate="item">
                <div class="header-item">
                    <div>{{header.label}} ({{header.valueType}})</div>
                </div>
            </ng-template>
        </p-listbox>
    </p-fieldset>
</div>

<input type="file" (change)="onFileChanged($event)"/>

<p-table #table [value]="body" [virtualScroll]="true"
         [virtualScrollItemSize]="46" scrollHeight="800px" [resizableColumns]="enableResizableColumns"
         columnResizeMode="expand"
         [tableStyle]="{'min-width': '100%'}" styleClass="p-datatable-sm p-datatable-striped">
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(table)"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let header of selectedHeaders | sortByOrderIndex; let i = index" pResizableColumn
                pSortableColumn="{{header.orderIndex}}">
                {{ header.label }}
                <p-sortIcon field="{{i}}"></p-sortIcon>
                <p-columnFilter type="{{header.filterType || 'text'}}" field="{{i}}" display="menu"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td *ngFor="let header of selectedHeaders | sortByOrderIndex">{{ rowData[header.orderIndex] | transformDataType: header.valueType }}</td>
        </tr>
    </ng-template>
</p-table>
