<input type="file" (change)="onFileChanged($event)"/>
<p-table [value]="body" [globalFilterFields]="filterFields" [scrollable]="true" [virtualScroll]="true"
         [virtualScrollItemSize]="46" scrollHeight="800px" [resizableColumns]="true" columnResizeMode="expand"
         [tableStyle]="{'min-width': '100%'}" styleClass="p-datatable-sm p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th pResizableColumn pSortableColumn="{{i}}"
                *ngFor="let header of headers; let i = index">{{ header.label }} ({{(header.valueType)}})
                <p-sortIcon field="{{i}}"></p-sortIcon>
                <p-columnFilter type="{{header.filterType || 'text'}}" field="{{i}}" display="menu"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td *ngFor="let header of headers; let i = index">{{ rowData[i] | transformDataType: header.valueType }}</td>
        </tr>
    </ng-template>
</p-table>
